# Ignore database files
db.sqlite3
*.sqlite3

# Ignore the virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Django migrations
**/migrations/

# IDE specific files
.idea/

# Logs
*.log
